body {
 font-family: Arial, sans-serif;
 background: #f0f0f0;
 display: flex;
 justify-content: center;
 align-items: center;
}

button{
    padding:10px 24px; 
    margin-top:10px; 
    background:#2980b9; 
    color:white; 
    border: 1px;; 
    border-color: black;
    border-radius:24px; 
    cursor:pointer; 
    font-weight:bold;
}

button:hover{
 background: #56b4f3;
}

div {
    display: block;
    unicode-bidi: isolate;
    background:#405540;
    background-size: 10px;
    border-radius:12px; 
    border-color: #556947;
    padding:12px;
}

.RegistroAlumnos{
    border:1px solid #cbd5e1; 
    padding:18px; 
    border-radius:12px; 
    background:#a9d48b; 
    margin-top:10px;
}

h4{ 
    margin-top:10px;
    color:#c1e0ab;
}

input{   
    padding:10px; 
    width:60%; 
    margin-right:5px; 
    border:1px;
    border-radius:6px;
}

p {
    font-weight:bold; 
    color:#c1e0ab
}